font {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    border: 2px dashed #cccccc;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 100px;

}

.box {
    background-color: greenyellow;
    padding: 15px;
    margin: 5px;
}

#direction {
    flex-direction: row;
}

#justify {
    justify-content: flex-end;
}

#aaling {
    align-items: flex-start;
}

#wrap {
    flex-wrap: wrap;
}